.tilt-in-bl {
	animation: tilt-in-bl 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes tilt-in-bl {
  0% {
    transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.component-padding {
  padding: 80px 80px 80px 100px;
}
.contact-helpus-heading{
  width: 50%;
}
.contact-accordian{
  width: 60%;
}
.contact-image{
  width: 40%;
}
@media (max-width: 992px) {
  .component-padding {
    padding: 60px 60px 60px 100px;
  }
}
@media (max-width: 768px) {
  .component-padding {
    padding: 20px;
  }
  .contact-bottom{
    flex-direction: column;
  }
  .contact-accordian{
    width: 100%;
  }
  .contact-image{
    width: 100%;
  }
  .contact-helpus-heading{
    width: 100%;
  }
}
