.roll-in-top {
	animation: roll-in-top 1s ease-out both;
}
 @keyframes roll-in-top {
  0% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.component-padding {
  padding: 80px 80px 80px 100px;
}
.team-card{
    width: 22%;
    border-radius: 10px;
}
.team-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width:1280px) {
    .team-card{
        width: 30%;
    }
}
@media (max-width: 992px) {
  .component-padding {
    padding: 60px 60px 60px 100px;
  }
  .team-card{
    width: 45%;
}
}
@media (max-width: 768px) {
  .component-padding {
    padding: 20px;
  }
}
@media (max-width:576px) {
    .team-card{
        width: 100%;
    }
}
